<div id="<%= dom_id player %>">

<h1><strong>Player name:</strong> <%= player.player_name %></h1>
<h2><strong>Position:</strong> <%= player.position %></h2>
<h3><strong>Avg ranking:</strong> <%= player.avg_ranking %></h3>

</div>
