<h1>Editing player</h1>

<%= render "form", player: @player %>

<br>

<div>
  <%= link_to "Show this player", @player, class:"btn btn-sm btn-info" %> |
  <%= link_to "Back to players", players_path, class:"btn btn-sm btn-dark" %>
</div>
